.corpo{
    width: 100vw;
    height: 87vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.publiComp{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas: "a b"
                         "c c";
    width: 96%;
    height: 96%;
    /* background-color: aquamarine; */
}

.publi{
    grid-area: a;
    background-color: rgba(0, 0, 0, 0.829);
}

.comentarios{
    grid-area: b;
    background-color: blueviolet;
}

.escreva{
    grid-area: c;
    background-color: rgb(195, 77, 77);
}