.container{
    height: 90vh;
    background-image: url(../../../img/fundo-freelancer.png);
    background-size: cover;

}
.boxEntrada{
    display: flex;
    align-items: flex-end;
    height: 60vh;
    width: 90%;
    margin-left: 5%;
    font-size: 5.5vh;
    color: white;
    text-align: left;
    justify-content: flex-start;
    gap:1vw;
}
.logo{
    height: auto;
    display: flex;
    align-items: center;
    font-family: nasa;
    font-size: 6vh;
    background: rgb(240,96,36);
    background: radial-gradient(circle, rgba(240,96,36,1) 0%, rgba(248,187,108,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
    
    
}
@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.logo svg{
    width: 8vh;
    height: 8vh;
}